﻿@model X.PagedList.IPagedList<Post>;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    #imghead {
        width: 600px;
        height: 250px;
    }
</style>
<div class="row">
    <img src="~/Images/imageheadpage.jfif" id="imghead" class="col-sm-12" />
</div>
<p></p>

<div class="row">
    <div class="col-sm-9">
        <div class="posts">
            @{
                if (Model.Count == 0)
                {
                    <h4 class="offset-sm-1">Không có bài viết nào</h4>
                }
                else
                {
                    <table class="table">
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <div id="bodydetail">
                                        <span class="text-muted pull-right">
                                            @{
                                                int hour = item.DatePost.Hour;
                                                int minute = item.DatePost.Minute;
                                            }
                                            <small class="text-muted">@item.UserName - @item.DatePost.ToShortDateString() @hour : @minute</small>
                                        </span>
                                        <p>
                                            <h2><a asp-action="Detail" asp-controller="Post" asp-route-id="@item.PostID">@item.Title</a></h2>
                                        </p>
                                        <img src="~/Images/@item.Image" class="offset-sm-1" />
                                        <h4 class="offset-sm-1">@item.Content</h4>
                                        <sub class="offset-sm-1">@item.SumComment Comment</sub>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                }
            }

        </div>
    </div>
    <div class="col-sm-3">
        <form asp-action="index" asp-controller="home" method="get">
            <div>
                <input type="text" class="col-sm-8" placeholder="Search" name="searchkey"/>
                <input type="submit" class="btn btn-success" value="Search" />
            </div>

        </form>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Categorys</th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Category> list = (List<Category>)ViewData["category"];
                    if (list.Count != 0)
                    {
                        foreach (var item in list)
                        {
                            <tr>
                                <td><a asp-action="Index" asp-controller="Home" asp-route-id="@item.CategoryID">@item.CategoryName</a></td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Thêm mã phân trang -->
<br />
@{
    if (Model.Count != 0)
    {
        <div class="row col-sm-9" id="page">
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <p>
                        Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                    </p>
                }
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
                Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            @X.PagedList.Mvc.Core.HtmlHelper.PagedListPager(Html, Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
        </div>

    }
}


