﻿@model IEnumerable<WebApplication2.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<p class="text-md-right">
    <a asp-action="Create" asp-controller="Post" class="btn btn-primary">Create New</a>
</p>
<div class="posts">
    @{
        if (Model.Count() == 0)
        {
            <h4>Bạn chưa có bài viết nào...</h4>
        }
        else
        {
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div id="bodydetail">
                                <p>
                                    @{
                                        int hour = item.DatePost.Hour;
                                        int minute = item.DatePost.Minute;
                                    }
                                    <h6>@item.DatePost.ToShortDateString() @hour : @minute</h6>
                                </p>

                                <p>
                                    <h2><a asp-action="Detail" asp-controller="Post" asp-route-id="@item.PostID">@item.Title</a></h2>
                                </p>
                                <img src="~/Images/@item.Image" class="offset-sm-1" />
                                <h4 class="offset-sm-1">@item.Content</h4>
                                <h6 class="offset-sm-1">@item.SumComment Comment</h6>
                                @Html.ActionLink("Edit", "Edit", "Post", new { id = item.PostID }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Delete", "Delete", "Post", new { id = item.PostID },
                                    new { @class = "btn btn-danger", onclick = "return confirm('Are you sure ?')" })

                            </div>
                        </td>

                    </tr>

                }
            </table>
        }
    }
</div>
