﻿@model WebApplication2.Models.Post;
@{
    ViewData["Title"] = "Create";
}
@ViewBag.test
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Hidden("UserName",@ViewBag.Username,null)

            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <p>Image:</p>
            <div class="form-group custom-file">
                <label asp-for="Image" class="control-label custom-file-label">Choose file</label>
                <input asp-for="Image" class="form-control custom-file-input" type="file" />
                <span asp-validation-for="Image" class="form-control-file"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <p>
                    @Html.DropDownList("CategoryID", (SelectList)ViewBag.ListCategory, "--Select one--", new { style = "width:200px;" })
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $(".custom-file-input").on("change", function () {
            var Image = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(Image);
        });
    </script>
}

