﻿@model WebApplication2.Models.Post

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<style>
    body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
    margin-right:10px;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
                                    
</style>
<div class="posts">
    <p>
        <h6>@Model.UserName - @Model.DatePost.ToShortDateString()</h6>
    </p>

    <p>
        <h2><a asp-action="Detail" asp-controller="Post" asp-route-id="@Model.PostID">@Model.Title</a></h2>
    </p>
    <img src="~/Images/@Model.Image" class="offset-sm-1" />
    <h4 class="offset-sm-1">@Model.Content</h4>
    <h6 class="offset-sm-1">@Model.SumComment Comment</h6>
    <div id="comment">
        <div class="row bootstrap snippets">
            <div class="col-md-6 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Comment
                        </div>
                        <div class="panel-body">
                            <form method="post" asp-action="Create" asp-controller="Comment">
                               
                                <textarea class="form-control" placeholder="write a comment..." rows="3" name="status"></textarea>
                                <br>
                                <input type="submit" value="Submit" class="btn btn-success"/>
                            </form>
                            
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                @foreach (var item in (List<Comment>)ViewData["listcomm"])
                                {
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="~/Images/avatar_2x.png" alt="" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                @{TimeSpan time = DateTime.Now - item.DateCom;
                                                    int days = time.Days;
                                                    int hours = time.Hours;
                                                    int minutes = time.Minutes;
                                                    if (days > 0)
                                                    {
                                                        <small class="text-muted">@days day ago</small>
                                                    }
                                                    else
                                                    {
                                                        if (hours > 0)
                                                        {
                                                            <small class="text-muted">@hours hours @minutes minutes ago</small>
                                                        }
                                                        else
                                                        {
                                            <small class="text-muted">@minutes minutes ago</small>
                                                        }
                                                    }
                                                }

                                            </span><br />
                                            <strong class="text-success">@item.UserName</strong>
                                            <p class="offset-sm-1">
                                               @item.Content
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
