﻿@model WebApplication2.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group custom-file">
                <label asp-for="Image" class="control-label custom-file-label">Choose file</label>
                <input asp-for="Image" class="form-control custom-file-input" type="file" value="@Model.Image" />
                <span asp-validation-for="Image" class="form-control-file"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <p>
                    @Html.DropDownList("CategoryID", (SelectList)ViewBag.ListCategory, "--Select one--", new { style = "width:200px;" })
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </p>
            </div>
            <div class="form-group">
                @Html.Hidden("SumComment", Model.SumComment, null)
            </div>
            <div class="form-group">
                @Html.Hidden("UserName", Model.UserName, null)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $(".custom-file-input").on("change", function () {
            var Image = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(Image);
        });
    </script>
}

